.home-container{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.home-container h1{
    letter-spacing: 10px;
    font-size: 60px!important;
}

.home-container img {
    width: 150px;
    margin-top: 5px;
}

.home-container .home-container-img{
    text-align: center;
}

.home-container .card{
    border: none!important;
    position: relative;
    padding: 30px;
    margin-top: 50px;
}

.home-container .home-container-value{
    position: absolute;
    top: -40px;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin: auto;
}